<%= render 'shared/menu'%>
<div class="page-content">
  <p id="notice"><%= notice %></p>

  <h1>Cart Items</h1>

  <table id="products" class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <tr id='<%="cart-items"%>'>
      <td><%= @cart_items.select{|k,v| v.to_i != 0}.map{|k,v| ([k]*v).join(', ')}.join(', ') %></td>
      <td><%= @cart.total_price %></td>
      </tr>
    </tbody>
  </table>
  <p>Items in cart: <%= @cart.total_items %></p>
</div>
